html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #f9f7f7;
  color: #3f72af;
}

.container {
  width: 100rem;
  margin: 0 auto;
}

.heading-primary {
  text-align: center;
  padding: 5rem 2rem;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 15rem;
}

.flexbox {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: flex-start;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.heading-secondary {
  font-size: 2.6rem;
}

.btn {
  color: #3f72af;
  font-weight: 700;
  background-color: #dbe2ef;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: 0.5s all;
  font-size: 1.5rem;
}

.btn:hover {
  transform: scale(1.1);
}

.board {
  display: grid;
  width: 50rem;
  height: 50rem;
  background-color: #fff;
  border: 3px solid #3f72af;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
